.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: $bgcBackdrop;
    
    &.isHidden{
        opacity: 0;
        pointer-events: none; //* can click through the backdrop
    }
}

.backdropBlock{
    position: absolute;
    display: flex;
    flex-direction:column;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 10px;
    border: 5px solid $borderBackdrop;
    border-radius: 10px;
    background-color: $bgcBlockBackdrop;

    &-text{
        margin-bottom: 15px;
        text-align: center;
        color: $textBackdrop;  
    }
    &-button{
        @extend %mainButtonStyle;
        @include button($borderBackdropButton, $bgcBackdropButton,$borderBackdropButton)
    }
}