.button{
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    @include button($borderBtn, $bgcBtn,$textBtn);
    cursor: pointer;

    &:hover{
        @include button($borderBtnHover, $bgcBtnHover,$textBtnHover)
    }
}