.container{
    height: 900px;
    margin: 0 auto;
    border-radius: 10px;
    background-image: url("../../img/ukrFlag.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}