$mainBgc: teal;
$frameForm:rgba(252, 102, 43, 0.7);
$inputText: rgba(0, 65, 201, 0.82);

//* Style for button
$borderBtn: rgba(252, 102, 43, 0.7);
$bgcBtn: rgba(3, 56, 202, 0.72);
$textBtn: whitesmoke;

//* Style for button:hover
$borderBtnHover: rgba(3, 56, 202, 0.72);
$bgcBtnHover: rgba(252, 102, 43, 0.7);
$textBtnHover: rgba(3, 56, 202, 0.72);

//* Style for text label
$labelTextSize: 30px;
$labelTextWeight: 700;

//* Style for backdrop
$bgcBackdrop:rgba(242, 235, 12, 0.8);
$bgcBlockBackdrop:bisque;
$borderBackdrop:rgba(8, 94, 210, 0.75);
$textBackdrop:rgba(8, 94, 210, 0.75);
$borderBackdropButton:rgba(8, 94, 210, 0.75);
$textBackdropButton:rgba(8, 94, 210, 0.75);
$bgcBackdropButton: rgba(210, 111, 8, 0.63);